.MainBlock
{
	background-color: aqua;
	display: table;
	border:2px solid limegreen;

}

#TextBlock
{
	background-color: darkgray;
	margin: 0 0 0 250px;
}
#ListBlock
{
	background-color: bisque;
	position: absolute;
	margin: 10px 0 0 -250px;
	top: 0;
	width: 250px;
}


#Hamster
{
	float: right;
	width: 30%;

}
#SecondTextBlock
{
margin-top: 165px;
}