#Block1
{
  margin: auto;
  width: 550px;
  color: white;
  background-color:green;
  line-height: 1.4em;
}
#Block2
{
  padding: 40px;
  width: 550px;
  margin: auto;
  color: white;
  background-color:blue;
  line-height: 1.4em;
  border:5px solid blue;

}
